
<div>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Release Date</th>
            <th>Number of Actors</th>
            <th>Upvotes</th>
            <th>Downvotes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of movieList">
            <td>{{ dataItem.title }}</td>
            <td>{{ dataItem.description }}</td>
            <td>{{ dataItem.releaseDate }}</td>
            <td>{{ dataItem.numberOfActors }}</td>
            <td>{{ dataItem.upvote }}</td>
            <td>{{ dataItem.downvote }}</td>
            <td>
                <button type="button" (click)="onLike(dataItem)" class="btn btn-light mr-1">
                    Like
                </button>
                <button type="button" (click)="onDislike(dataItem)" class="btn btn-light mr-1">
                    Dislike
                </button>
            </td>
        </tr>
    </tbody>
    </table>
    <button type="button" class="btn btn-light" (click)="sortResult('title',true)">Up</button>
    <button type="button" class="btn btn-light" (click)="sortResult('title',false)">Down</button>
</div>
